.hero-slider-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-slider {
  display: flex;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.hero-slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
}

.slider-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(8, 15, 10, 0.6);
  z-index: 1;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff8e7;
  text-align: left;
  max-width: 800px;
  padding: 0 20px;
}

.quote-mark {
  display: block;
  font-size: 3rem;
  color: #e3b34b;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0;
  font-family:'Merriweather','serif','Inter','sans-serif' ;
}

.hero-text p em {
  font-style: italic;
}

.hero-text .highlight {
  color: #e3b34b;
  font-style: italic;
  font-weight: bold;
}

.hero-text h1 {
  font-size: 3rem;
  margin-top: 15px;
  font-weight: 700;
  font-family:'Merriweather','serif','Inter','sans-serif' ;
}

@media (max-width: 480px) {
  .hero-slider-wrapper {
    height: 50vh;
  }
  .hero-text p {
    font-size: 1.5rem; 
  }
  .hero-text h1 {
    font-size: 3rem;
  }
  .quote-mark {
    font-size: 3rem;
  }
}


@media (max-width: 1024px) {
  .hero-slider {
    height: 70vh; 
  }
  .hero-overlay{
    height: 70vh;
  }
  .hero-slider-wrapper{
    height:70vh;
  }
  .hero-text p {
    font-size: 1.5rem; 
  }
  .hero-text h1 {
    font-size: 3rem;
  }
  .quote-mark {
    font-size: 3rem; 
  }
  .image{
    width:380px;
    margin-right:5%;
    margin-bottom:-6%;
  }
  .hero-content{
    margin:auto;
    margin-top: -48%;
  }
}


@media (max-width: 768px) {
 .hero-slider {
    height: 42vh; 
  }
  .hero-slider-wrapper {
    height: 43vh; 
  }
  .hero-overlay{
    display: none;
  }
  .hero-text {
  color: #fff8e7;
  text-align: left;
}
  .hero-text {
  position: absolute;
  top: 52%;
  left: 51%;
  right:-35%;
  bottom: -15%;
  z-index: 2;
  color: #fff8e7;
  text-align: left;
  padding: 0 20px;
}
  .hero-text h1 {
    font-size: 3rem;
  }
  .quote-mark {
    font-size: 3rem; 
  }
  .hero-content{
    margin-top: -60%;
    gap:151px;
    margin-left:0;
  }
  .image{
    margin:auto;
  }
}

